body{
background-image:url("file:///C:/Users/user/Documents/fondo%20ultra.png");

}

a{
display:inline-block; 	
text-decoration:none; 
background:#FC1414;
padding:15px 20px;
color:#fff;
border-radius:5px;    
}
a:hover{
background:#FF4C4C; 
color:#ccc; 
}
div{
position:relative;
top:280px;
left:470px;   	
width:400px;
height:250px;   	
background-image:url(file:///C:/Users/user/Downloads/Nuevo%20proyecto.jpg);   
border-radius:5px; 
}
a,h1{
position:relative; 
bottom:100px; 
left:40%  

}
img{
position:relative; 
left:38%;
top:150px;

}
h1{
position:relative; 
left:24%; 
}